<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ติดต่อเรา</title>
</head>
<body>
    <h2>ติดต่อเรา</h2>
        

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1339.1309423214755!2d99.39699330044533!3d18.318325620616495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d96f7fcc48b193%3A0x586be5ff99593ee6!2z4Lio4Li54LiZ4Lii4LmM4LiE4Lin4Liy4Lih4Lib4Lil4Lit4LiU4Lig4Lix4Lii4LmD4LiZ4LiB4Liy4Lij4LiX4Liz4LiH4Liy4LiZ4LmA4LiC4LiVIDc!5e0!3m2!1sth!2sth!4v1726032445784!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</body>
</html>